.root {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
    flex: 0 1 auto;
    background: var(--color-primary);
    padding: 0px 0px 10px 16px;
    display: flex;
    align-items: center;
}

mat-icon {
    vertical-align: top;
    transform: scale(0.7);
}

app-address-or-hash.document {
    margin-left: 5px;
}

.spacer {
    flex: 1 1 auto;
}

button.close {
    margin-right: 15px;
}

mat-icon.close {
    margin-top: -2px;
}

.spinnerContainer {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 1 1 auto;
    padding: 10px 6px 6px 10px
}

.infoRow {
    margin-left: 27px;
}