.root {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.header {
    flex: 0 1 auto;
    background: var(--color-primary);
    padding: 0px 0px 10px 16px;
    display: flex;
    align-items: center;
    margin: 0px
}

mat-icon {
    vertical-align: top;
    transform: scale(0.7);
}

app-address-or-hash.document {
    margin-left: 5px;
}

.spacer {
    flex: 1 1 auto;
}

button.close {
    margin-right: 15px;
}

mat-icon.close,
mat-icon.clock,
mat-icon.signatoryStatus,
mat-icon.submit {
    margin-top: -2px;
}

.spinnerContainer {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

mat-card.status {
    padding: 25px 35px 25px 35px;
}

mat-card.status.empty {
    padding-bottom: 0px;
}

mat-card-content.status {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    margin-top: 15px;
}

.faded {
    opacity: 50%;
}

.green {
    color: rgb(77, 228, 77);
}

div.statusIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-icon.statusIcon {
    transform: scale(2);
}

.span2columns {
    grid-column: span 2;
}

.signatoriesLabel {
    margin-top: 3px;
}

table.mat-table {
    margin-bottom: 3px;
}

tr.mat-row {
    height: auto;
}

td.mat-cell {
    border-style: none;
}

td.mat-column-signatory {
    padding: 3px 0px 3px 0px !important;
}

td.mat-column-signTime {
    padding: 3px 0px 3px 10px !important;
}

mat-card.submit,
mat-card.sign {
    margin-top: 10px;
    padding: 10px;
}

mat-form-field.signatories {
    width: 100%;
}

button.submit,
button.sign {
    display: block;
    margin: 15px auto 5px auto !important;
}

button.mat-chip-remove {
    margin-left: auto;
}

mat-form-field.signatories input.mat-chip-input {
    flex: 1 0 auto;
    width: 350px;
    margin: 10px;
}

.signDescription {
    margin: 5px 10px 0px 10px
}