.root {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.header {
    flex: 0 1 auto;
    background: var(--color-primary);
    padding: 0px 0px 10px 16px;
    display: flex;
    align-items: center;
    margin: 0px
}

mat-icon {
    vertical-align: top;
    transform: scale(0.7);
}

app-address-or-hash.document {
    margin-left: 5px;
}

.spacer {
    flex: 1 1 auto;
}

button.close {
    margin-right: 15px;
}

mat-icon.close {
    margin-top: -2px;
}

mat-icon.clock {
    margin-top: -2px;
}

.spinnerContainer {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

mat-card {
    padding: 25px 35px 25px 35px;
}

mat-card-content {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
}

.nonEmpty {
    margin-top: 15px;
}

.faded {
    opacity: 50%;
}

.verified {
    color: rgb(77, 228, 77);
}

mat-card {
    max-width: 400px;
}

div.statusIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-icon.statusIcon {
    transform: scale(2);
}

table.signatories {
    grid-column: span 2;
}