<div class="root">
    <ngx-file-drop
        [directory]="false"
        [multiple]="false"
        (onFileDrop)="handleDropFile($event)"
        dropZoneClassName="document-input_drop-area"
        contentClassName="document-input_sub-drop-area">
        <ng-template ngx-file-drop-content-tmp>
            <div>
                Choose document for certification, signing or validation.
            </div>
            <div class="select-file-container">
                <mat-form-field appearance="outline">
                    <mat-label>Browse or drop document here...</mat-label>
                    <input matInput disabled>
                </mat-form-field>
                <input #fileInput type="file" hidden
                    (change)="handleSelectFile($event)">
                <button
                    mat-flat-button
                    color="primary"
                    (click)="fileInput.click()">
                    <mat-icon class="material-icons">attach_file</mat-icon>
                    Browse...
                </button>
            </div>
            <div>
                Your document will not be uploaded - it will never leave your device!
            </div>
        </ng-template>
    </ngx-file-drop>
</div>