/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* workaround - ngx-file-drop allows only global styles */
.document-input_drop-area {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/* workaround - ngx-file-drop allows only global styles */
.document-input_sub-drop-area {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}